extends common/container
block contents
    h1
        | Admin panel
    div.regRequests.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
        h2 Registration requests
        div.list-group
            each request in requests
                    div.requestRow.list-group-item
                        span.l-col
                            | #{request.number}
                        span.m-col
                            | #{request.username}
                        a.approve.btn.btn-success.btn-md(href="/approve-request/"+request._id)
                            | Approve 
                        a.reject.btn.btn-danger.btn-md(href="/reject-request/"+request._id)
                            | Reject
            else 
                | Currently there are no pending registration requests.
    div.feeContainer.container.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
        h2 Create monthly fee
        //- div.visible-lg.visible-md.visible-sm.col-lg-12.col-md-12.col-sm-12.col-xs-12
        form#fee(class="form-horizontal" method="POST" action="/admin/add-monthly-fee")
            //- div.row
            div.form-group.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    label(for="month" class="control-label col-sm-2")
                        | Month:
                    input#month(type="number" class="form-control" required step="1" min="1" max="12" name="month" value="8")
            //- div.row
            div.form-group.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                label(for="year" class="control-label col-sm-2")
                    | Year:
                input#year(type="number" class="form-control" required step="1" min="2017" max ="3000" name="year" value="2017")
            //- div.row
            div.form-group.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                label(for="cost" class="control-label col-sm-2")
                    | Cost:
                input#cost(type="number" class="form-control" required step="0.01" min="0" max ="100" name="fee")
            //- div.row
            div.form-group.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                button.createFee.btn.btn-success.btn-md(type="submit" class="btn btn-default")
                    | Create

    div.expensesContainer.container.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
        h2 Expenses
        a.newExpense(href="/create-expense/")
            | New expense
    
        div.pendingExp.container
        h3 Pending expenses
        each expense in pendingExpenses
            div.row
                div.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    div.pending-expense(title=expense.description)
                        span.l-col    
                            a(href="/expenses/"+expense._id)
                                | #{expense.name}
                        span.c-col
                            | #{expense.paidAmount}/#{expense.totalCost}
                        span.r-col
                            if expense.notPaid.length == 0
                                a.complete-expense(href="/complete-expense/"+expense._id)
                                    | Complete
                            a.cancel-expense.btn.btn-danger.btn-md(href="/cancel-expense/"+expense._id)
                                | Cancel
        else 
            | Currently there are no pending expenses.

        div.completeExp.container
        h3 Completed expenses
        each expense in completedExpenses
            div.row
            div.visible-lg.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                div.completed-expense(title=expense.description)
                    span.l-col
                        a(href="/expenses/"+expense._id)
                            | #{expense.name}
                    span.r-col
                        | #{expense.paidAmount}/#{expense.totalCost}
        else 
            | Currently there are no completed expenses.

        div.canceledExp.container
        h3 Canceled expenses
        each expense in canceledExpenses
            div.row
                div.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    div.canceled-expense(title=expense.description)
                        a(href="/expenses/"+expense._id)
                            | #{expense.name}
                    div
                        | #{expense.paidAmount}/#{expense.totalCost}
        else 
            | Currently there are no canceled expenses.
block footer
    script
        | System.import("admin");