extends common/container
block contents
    h1.row
        span.hidden-xs
            | Expense: 
        | #{expense.name}
    div.panel.panel-default
        div.panel-body
            div.row
                p.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    | Description: #{expense.description}
            div.row
                p.col-lg-6.col-md-6.col-sm-6.col-xs-12
                    | Status: #{expense.state}
            div.row
                p.col-lg-6.col-md-6.col-sm-6.col-xs-12
                    | Cost: #{expense.cost}
            div.row
                p.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    | Number of collected payments: #{expense.paid.length}
            div.row
                p.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    | Cost collection progress: #{collected} of #{totalCost}
