extends common/container
block head_scripts
    link(rel="stylesheet" type="text/css" href="/libs/toastr/build/toastr.css")
block contents
    h1.row
        | Page of Shame
    div
        each apartment in apartments
            div.row.highlight-row
                div.col-lg-6.col-md-6.col-sm-6.col-xs-6
                    a(href = "/page-of-shame/" + apartment.id) 
                        span.hidden-xs
                            | Apartment #{apartment.number}
                        span.visible-xs
                            | Apt. #{apartment.number}
                div.col-lg-4.col-md-4.col-sm-4.col-xs-6
                    span.hidden-xs
                        | Total Debts: 
                    span
                        | #{apartment.debt}
                        if (loggedUser && loggedUser.type == 'admin' && apartment.debt > 1500)
                            button.sendMutri
                                | Send Mutri
            li(data-aptnum=apartment.number)
                a(href = "/page-of-shame/" + apartment.id) Apartment #{apartment.number} 
                | - Total Debts : $ #{apartment.debt}
block footer
    script(src='/libs/toastr/build/toastr.min.js')
    script
        | System.import("pageofshame");

