extends common/container
block contents
    h1
        | Unpaid expenses for Apartment #{currentApartment.number}:
    div
        | Expenses:
    ul 
            each expense in currentApartment.notPaidExpenses
                li
                    a(href = '/expenses/' + expense._id) #{expense.name} 
                    |- $#{expense.cost}
    div
        | Fees:
    ul 
        each fee in currentApartment.notPaidFees
            li
                | Period: #{fee.month}.#{fee.year} Cost: $#{fee.cost}
                