extends common/container
block contents
    h1.row
        span.hidden-xs
            | Unpaid expenses for apartment #{currentApartment.number}:
        span.visible-xs
            | Apt. #{currentApartment.number}:
    h2.row
        | Expenses:
    div.list-group
        each expense in currentApartment.notPaidExpenses
            a.list-group-item(href = "/expenses/" + expense._id)
                span.l-col
                    |#{expense.name} 
                span.mid-col
                    |$#{expense.cost}
    h2.row
        | Fees:
    ul.list-unstyled
        each fee in currentApartment.notPaidFees
            li.row.highlight-row
                span.hidden-xs
                    | Period: #{fee.month}.#{fee.year} Cost: $#{fee.cost}
                span.visible-xs
                    | #{fee.month}.#{fee.year} - $#{fee.cost}
                