extends common/container
block contents
    h1.row
        span.hidden-xs
            | Unpaid expenses for apartment #{currentApartment.number}:
        span.visible-xs
            | Apt. #{currentApartment.number}:
    h2.row
        | Expenses:
    ul.list-unstyled
        each expense in currentApartment.notPaidExpenses
            li.row.highlight-row
                a(href = '/expenses/' + expense._id) #{expense.name} 
                |- $#{expense.cost}
    h2.row
        | Fees:
    ul.list-unstyled
        each fee in currentApartment.notPaidFees
            li.row.highlight-row
                span.hidden-xs
                    | Period: #{fee.month}.#{fee.year} Cost: $#{fee.cost}
                span.visible-xs
                    | #{fee.month}.#{fee.year} - $#{fee.cost}
                